{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="row">
        {% comment %} Left side {% endcomment %}
        {% include "dashboard/sidebar.html" %}
        {% comment %} Right Side {% endcomment %}
        {% if perms.auth.view_user %}
        <div class="col-md-9">
           <h2>Add User</h2>
           {% comment %} enctype='multipart/formdata' -> always added for file types {% endcomment %}
           <form action="{% url 'add_user' %}" method="POST">
            {% csrf_token %} 
            {{ form | crispy }}
            <button type='submit' class='btn btn-warning'>Submit</button>
           </form>
           <br>
        </div>
        {% else %}
        <h5> Not Enough permission</h5>
        {% endif %}
    </div>
{% endblock %}
